#map-canvas {
	position: absolute;
	top: 0px;
	left: 0px; 
	height: 400px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#button-canvas {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url("ttfbg.jpg");
	background-size: cover;
}

#panel {
	position: absolute;
	top: 0px;
	right:0px;
	width: 20%;
	height: 400px;
}

#chart_div {
	height: 170px;
}

#filter_div {
	height: 30px;
}	

h1 {
	text-align: center;
	font-size: 28pt;
	font-family: arial
}

#t1 {
	background: black;
	color: white;
	font-size: 28pt;
	font-family: arial;
	border: 10px;
}

#heading,#groundspeed, #altitude, #climbrate {
	position: relative;
	left: 0px;
	height: 100px;
	width:100%;
	background: black;
	color: white;
	font-size: 24pt;
	font-family: arial;
	border-width: 1px;
	border-color: white;	
	visibility: hidden;
}

#bNewFlight,#bInfo {
	position: relative;
	left: 0px;
	height: 100px;
	width:100%;
	background: blue;
	color: white;
	font-size: 24pt;
	font-family: arial;
	visibility: hidden;
}

#dashboard_div {
	position: absolute;
	top: 400px;
	height: 200 px;
	width: 80%;
}

#info_div {
	position: absolute;
	top: 400px;
	right: 0px;
	height: 200px;
	width: 20%;
}

